/**************************** Basic parameters ****************************/
params {
   // references
   sample_name                = 'mysample' // sample name. The output will be saved in the outdir/sample_name folder
   raw_folder                 = '/hpcnfs/data/DIMA/zhan/NextQuant/dev/raw' //folder containing raw samples
   xml                        = '/hpcnfs/data/DIMA/zhan/NextQuant/dev/raw/mqpar.xml' // basic parameter file to be modified. 
   outdir                     = './results' // path to the output directory
   threads                    = 10 // number of cpus to use
   fasta                      = '/hpcnfs/techunits/massspectrometry/Work/Staff/FB/Uniprot/uniprot-proteome_UP000005640.fasta' // genome fasta file
   conda_yaml                 = '' // path to conda yaml file 
}


process.executor = 'pbspro'
process.queue = 'workq'
conda.enabled = true

/**************************** Manifest ****************************************************/

manifest {
    name            = 'NextQuant'
    author          = """Yinxiu Zhan"""
    homePage        = 'https://github.com/zhanyinx/nextquant'
    description     = """Maxquant in nextflow."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}



/**************************** Tower ****************************************************/
tower {
  enabled = false
}
