/**************************** Basic parameters ****************************/
process.executor = 'pbspro'
process.queue = 'nocg_workq'

params {

   // references
   raw_folder                 = '/hpcnfs/data/DIMA/zhan/NextQuant/dev/QC_pipeline_test/'
   fasta                      = '/hpcnfs/techunits/massspectrometry/Work/Staff/FB/Uniprot/uniprot-proteome_UP000005640.fasta' // genome fasta file
   threads                    = 16
   xml                        = '/hpcnfs/scratch/temporary/QC_pipeline_test/mqpar.xml'
}


/**************************** Profiles ****************************/
profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        process.container = 'docker://yinxiu/variantalker:v1.0'
    }
}


/**************************** Manifest ****************************************************/

manifest {
    name            = 'variantalker'
    author          = """Yinxiu Zhan, Bastian Eichenberger"""
    homePage        = 'https://github.com/zhanyinx/variantalker'
    description     = """Variant annotation pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}



/**************************** Tower ****************************************************/
tower {
  enabled = false
}