/**************************** Basic parameters ****************************/
params {
   // references
   sample_name                = 'mysample'
   raw_folder                 = '/hpcnfs/data/DIMA/zhan/NextQuant/dev/QC_pipeline_test/'
   fasta                      = '/hpcnfs/techunits/massspectrometry/Work/Staff/FB/Uniprot/uniprot-proteome_UP000005640.fasta' // genome fasta file
   threads                    = 4
   xml                        = '/hpcnfs/scratch/temporary/QC_pipeline_test/mqpar.xml'
   outdir                     = './results'
}


process.executor = 'pbspro'
process.queue = 'workq'
conda.enabled = true

/**************************** Manifest ****************************************************/

manifest {
    name            = 'NextQuant'
    author          = """Yinxiu Zhan"""
    homePage        = 'https://github.com/zhanyinx/nextquant'
    description     = """Maxquant in nextflow."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}



/**************************** Tower ****************************************************/
tower {
  enabled = false
}